appdirs==1.4.3
certifi==2018.1.18
Cython==0.23
APScheduler==3.6.3
asgiref==3.4.1
cachetools==4.2.2
certifi==2021.5.30
charset-normalizer==2.0.4
click==8.0.1
colorama==0.4.4
Django==3.2.7
Flask==2.0.1
idna==3.2
itsdangerous==2.0.1
Jinja2==3.0.1
MarkupSafe==2.0.1
pyTelegramBotAPI==3.8.2
python-telegram-bot==13.7
pytz==2021.1
requests==2.26.0
six==1.16.0
sqlparse==0.4.2
telebot==0.0.4
telegram==0.0.1
tornado==6.1
tzdata==2021.1
tzlocal==3.0
urllib3==1.26.6
Werkzeug==2.0.1